* {
  font-family: 'Fredoka One', sans-serif;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3.5rem;
  font-weight: normal;
}

p {
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  width: 100%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

nav {
  position: absolute;
  width: 100%;
  display: flex;
  height: 5rem;
  top: 0;
  left: 0;
  padding: 0.2rem;
  justify-content: space-between;
  background-color: none;
}

nav:hover {
  background-color: rgba(255,255,255,0.5);
  -webkit-transition: background-color 0.5s linear;
  -ms-transition: background-color 0.5s linear;
  transition: background-color 0.5s linear;
}

nav h1 {
  display: inline-block;
  margin: 0;
}

nav img {
  display: inline-block;
  max-height: 4rem;
  margin: 0 2rem;
  vertical-align: top;
}

nav a {
  height: 5rem; /* Or whatever */
  margin: auto;  /* Magic! */
  line-height: 4rem;
  font-size: 110%;
}

nav a:first-of-type {
  width: 50vw;
}

.link:hover {
  cursor: pointer;
}

.link:hover::after,
.active-link::after {
  position: absolute;
  content: '\f1b0';
  font-family: 'FontAwesome';
  margin-left: 0.5rem;
}

@media all and (max-width: 500px) {
  nav {
    display: none;
  }
}

.main {
  position: absolute;
  width: 70vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.main img {
  display: inline-block;
  width: 10rem;
  margin: 0.5rem;
  border-radius: 0.4rem;
}

.main img:hover {
  cursor: pointer;
  box-shadow: 0 0 0.7rem saddlebrown;
  -webkit-transition: shadow 0.5s linear;
  -ms-transition: shadow 0.5s linear;
  transition: shadow 0.5s linear;
}

.main-cover {
  background-image: url(img/cover-about-rufs.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  height: 100vh
}

.main-cover h1 {
  position: absolute;
  width: 40vw;
  top: 30%;
  right: 3.5rem;
  color: white;
  text-align: right;
}

.story-odd {
  margin: 4rem 4rem 4rem 0;
  font-size: 2rem;
  border-left: solid #FF7BAC 12rem;
  padding-left: 4rem;
}

.story-even {
  margin: 4rem 0rem 4rem 4rem;
  font-size: 2rem;
  border-right: solid #FF7BAC 12rem;
  padding-right: 4rem;
}

.grid-container {
  --auto-grid-min-size: 25rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 2rem;
  justify-items: center;
}

.person,
.article {
  height: 25rem;
  width: 25rem;
  text-align: center;
  margin-bottom: 3rem;
}

.p {
  margin: auto;
  height: 24rem;
  width: 24rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.p1 {
  background-image: url(img/dog-and-owner-1.png);
}

.p2 {
  background-image: url(img/dog-and-owner-2.jpg);
}

.p4 {
  background-image: url(img/dog-and-owner-4.jpg);
}

.p6 {
  background-image: url(img/dog-and-owner-6.jpg);
}

.p7 {
  background-image: url(img/dog-and-owner-7.jpg);
}

.p8 {
  background-image: url(img/dog-and-owner-8.jpg);
}

.p10 {
  background-image: url(img/dog-and-owner-10.jpg);
}

.p11 {
  background-image: url(img/dog-and-owner-11.jpg);
}

.p12 {
  background-image: url(img/dog-and-owner-12.jpg);
}

.p13 {
  background-image: url(img/pack-life-2.jpg);
}

.p14 {
  background-image: url(img/pack-life-3.png);
}

.p15 {
  background-image: url(img/pack-life-4.jpg);
}

.p16 {
  background-image: url(img/pack-life-5.jpg);
}

.p17 {
  background-image: url(img/pack-life-6.jpg);
}

.p18 {
  background-image: url(img/pack-life-7.jpg);
}

.link-effect:hover {
  cursor: pointer;
  border-left: solid #FF7BAC 18rem;
  -webkit-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.cover {
  display: inline-block;
  margin: 10rem 0 4rem 6vw;
  width: 800px;
}

.cover .category {
  position: absolute;
  color: white;
  background-color: #FF7BAC;
  padding: 0.2rem 1rem;
  margin-top: -11rem;
  margin-left: 3rem;
  font-weight: lighter;
}

.cover .category::before,
.article .category::before {
  content: '';
  background-color: #FF7BAC;
  padding: 0.8rem;
  position: absolute;
  margin-left: -3.3rem;
  margin-top: -0.2rem;
}

.article .category {
  position: absolute;
  color: white;
  background-color: #FF7BAC;
  padding: 0.2rem 1rem;
  margin-top: -0.8rem;
  margin-left: 2.8rem;
  font-weight: lighter;
}

.cover h2 {
  position: absolute;
  background: white;
  padding: 0.7rem 1.5rem;
  margin-top: -10rem;
  margin-left: -1.6rem;
  font-weight: lighter;
}

.cover:hover img {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem #FF7BAC;
}

.trending {
  display: inline-block;
  vertical-align: top;
  margin-top: 10rem;
  width: 40rem;
}

.trending-link {
  margin: 2rem 2rem 2rem 0;
  border-left: solid #FF7BAC 4rem;
  padding-left: 2rem;
}

.trending-link-effect:hover {
  cursor: pointer;
  border-left: solid #FF7BAC 8rem;
  -webkit-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  transition: border 0.2s linear;
}

.article {
  font-weight: lighter;
}

.article:hover .p {
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem #FF7BAC;
}

button {
  margin: 3rem auto;
  text-align: center;
  padding: 1.5rem;
  cursor: pointer;
  background: #FF7BAC;
  border-radius: 0;
  color: white;
  font-weight: lighter;
  outline: none;
  border: none;
  font-size: 1.5rem;
}

button:hover {
  box-shadow: 0 0 0 0.5rem #FF7BAC;
}