@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

* {
  font-family: 'IBM Plex Mono', monospace;
}

h1 {
  margin: 5rem;
  margin-top: 0.5rem;
  font-size: 6rem;
  text-align: center;
}

p,
a,
.title {
  font-size: 1.6rem;
}

.menu {
  text-align: center;
}

.menu a {
  text-decoration: line-through;
  color: black;
  padding: 1vw 12vw;
}

.menu .selected {
  text-decoration: none;
}

.main {
  display: none;
  margin-top: 2rem;
  text-align: center;
}

.container {
  display: block;
  height: 100vw;
  margin: 0 7rem;
}

.introduction {
  padding: 4rem;
  line-height: 3rem;
}

.introduction:before {
  content: '{';
  font-family: serif;
  position: absolute;
  left: 3rem;
  margin-top: 4rem;
  font-size: 15rem;
}

.introduction:after {
  content: '}';
  font-family: serif;
  position: absolute;
  right: 3rem;
  margin-top: -5rem;
  font-size: 15rem;
}

.lines {
  width: 65rem;
  margin: 2rem auto;
  height: 3px;
  background: black;
}

.lines:before {
  content: '';
  position: absolute;
  height: 2rem;
  width: 3px;
  background: black;
  margin: -2rem auto;
  box-shadow: -32.5rem 2rem 0;
}

.lines:after {
  content: '';
  position: absolute;
  height: 2rem;
  width: 3px;
  background: black;
  margin: auto;
  box-shadow: 32.5rem 0 0;
}

.title {
  display: inline-block;
  width: 29%;
  padding: 1rem;
}

.img,
.tech {
  display: inline-block;
  width: 29.5%;
  height: 29.5%;
  margin: 1rem;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}

.img-mobile {
  width: 80%;
  height: 80%;
}

.img1 {
  background-image: url('img/april.jpg');
}

.img2 {
  background-image: url('img/volvo.jpg');
}

.img3 {
  background-image: url('img/deer.jpg');
}

.img4 {
  background-image: url('img/totoro.jpg');
}

.img5 {
  background-image: url('img/robo.jpg');
}

.img6 {
  background-image: url('img/elokuu.jpg');
}

.img7 {
  background-image: url('img/joulu.jpg');
}

.img8 {
  background-image: url('img/blinking-logo.gif');
}

.img9 {
  background-image: url('img/mercedes.jpg');
}

.img10 {
  background-image: url('img/kettu-kavelee.gif');
}

.img11 {
  background-image: url('img/kettu-tanssii.gif');
}

.img12 {
  background-image: url('img/kettu.gif');
}

.img13 {
  background-image: url('img/nallet.gif');
}

.img14 {
  background-image: url('img/SKOTTI.gif');
}

.img15 {
  background-image: url('img/SKOTTI2.gif');
}

.img16 {
  background-image: url('img/drawings/30714021_10211991609448376_8077382661003280384_n.jpg');
}

.img17 {
  background-image: url('img/drawings/31081604_10211991617728583_8402498787523690496_n.jpg');
}

.img18 {
  background-image: url('img/drawings/31108316_10211991617008565_3535514698931765248_n.jpg');
}

.img19 {
  background-image: url('img/drawings/31131325_10211991618968614_8957862875217526784_n.jpg');
}

.img20 {
  background-image: url('img/drawings/31131476_10211991614288497_729335169697185792_n.jpg');
}

.img21 {
  background-image: url('img/code.gif');
}

.img22 {
  background-image: url('img/drawings/31143856_10211991607768334_3217508654546681856_n.jpg');
}

.img23 {
  background-image: url('img/drawings/31224044_10211991613568479_7071882773505507328_n.jpg');
}

.img24 {
  background-image: url('img/drawings/31163508_10211991614568504_5538176215828922368_n.jpg');
}

.pop-up,
.pop-up-tech {
  display: none;
  width: 80%;
  height: 80%;
  position: fixed;
  background: #fff;
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.4);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 5rem;
  box-sizing: inherit;
}

.close-btn {
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  top: 2rem;
  background: white;
  border: 0.5rem solid black;
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:before {
  content: 'X';
  font-size: 3.7rem;
  font-weight: bolder;
}

.img-container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.contact {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding: 0rem 3rem;
  line-height: 4rem
}

hr {
  border: 0.2rem solid black;
  background: black;
}

.tech1 {
  background-image: url('img/codepen.png');
}

.tech2 {
  background-image: url('img/code.gif');
}

.tech3 {
  background-image: url('img/action.jpg');
}

.tech a {
  display: none;
}

.text-container {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
}

.text-container a {
  color: black;
}

#logo {
  text-align: center;
  transform-origin: center;
  transition: 2s;
  z-index: 20;
  animation: flip 3s ease-in-out infinite;
}

#logo svg {
  width: 7%;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

.scroll-up {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  background: white;
  border: 0.5rem solid black;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}

.scroll-up:before {
  content: '^';
  font-size: 5rem;
  padding: 1rem;
  font-weight: bolder;
}

.timeline {
  display: inline-block;
  width: 45%;
  padding: 2rem 2%;
  vertical-align: middle;
  min-height: 4rem;
}

.timeline p {
  margin: 0;
}

.timeline-left {
  text-align: right;
  border-right: 3px solid black;
}

.timeline-right {
  text-align: left;
}